@import "_vars";
@import "_fonts";
//1st line
.violet-backup {
  padding: 0;
  display: block;
  content: "";
  min-height: @violet-stripe-height;
  background: @violet-stripe-color;
}

.first-line {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  min-height: @violet-stripe-height;
  max-width: @main-width;
  & > h1 {
    margin: 30px 0 0 7px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
  }
  & > h3 {
    margin: 15px 0 30px 6px;
    font-size: 20px;
    font-family: "Proxima Nova Light";
    color: #ffffff;
    text-align: left;
  }
}

.manage-team {
  margin: 0;
  min-height: 350px;
  width: 100%;
  & > .picture-manageteam {
    padding: 0;
    display: block;
    content: "";
    height: 350px;
    position: relative;
    & > img {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 100%;
      max-heigh: 100%;
    }
  }
  & > .sidebutton {
    content: "";
    padding: 0;
    & > #connect {
      margin: 30px 0 18px 50px;
      max-width: 240px;
      color: #ffffff;
      font-family: "Bradley Hand ITC";
      font-size: 14px;
      -moz-transform: matrix(0.99746355304888, -0.07117907233942, 0.07117907233942, 0.99746355304888, 0, 0);
      -webkit-transform: matrix(0.99746355304888, -0.07117907233942, 0.07117907233942, 0.99746355304888, 0, 0);
      -ms-transform: matrix(0.99746355304888, -0.07117907233942, 0.07117907233942, 0.99746355304888, 0, 0);
      &:after {
        display: inline-block;
        content: "";
        width: 38px;
        height: 22px;
        background: url("../images/arrow.png");
        margin: -5px 0 0 5px;
      }
    }
    & > #build {
      margin: 20px 0 0 30px;
      font-family: "Proxima Nova Light";
      font-size: 16px;
      color: #ffffff;
    }
  }
}

//2nd line
.white-backup {
  display: block;
  content: "";
  min-height: @white-stripe-height;
  background: #ffffff;
}

.second-line {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  min-height: @white-stripe-height;
  max-width: @main-width;
  & > .features {
    margin: 0;
    min-height: @white-stripe-height;
    max-width: @main-width;

    & > .anyscreen {
      padding: 0;
      height: @white-stripe-height;
      &:before {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle;
      }
      & > .inside-anyscreen {
        display: inline-block;
        vertical-align: middle;
        max-height: @white-stripe-height;
        & > p {
          margin: 15px 0 0 35px;
          font-family: "Proxima Nova Light";
          font-size: 16px;
          color: @violet-stripe-color;
        }
      }
    }
    & > .secure {
      padding: 0;
      height: @white-stripe-height;
      &:before {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle;
      }
      & > .inside-secure {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        max-height: @white-stripe-height;
        & > p {
          margin: 15px 0 0 0;
          font-family: "Proxima Nova Light";
          font-size: 16px;
          color: @violet-stripe-color;
        }
      }
    }
    & > .checks {
      padding: 0;
      height: @white-stripe-height;
      &:before {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle;
      }
      & > ul {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 27px;
        width: 90%;
        max-height: @white-stripe-height;
        list-style-image: url("../images/checkbox_pic.png");
        & > li {
          height: 20px;
          margin-bottom: 25px;
          position: relative;
          & > div {
            font-family: "Proxima Nova Light";
            font-size: 16px;
            height: 20px;
            color: @violet-stripe-color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        & > .lastone {
          margin-bottom: 0;
        }
      }
    }
  }
}

//3rd line
.grey-backup {
  display: block;
  content: "";
  min-height: @grey-stripe-height;
  background: @grey-stripe-color;
}

.third-line {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  min-height: @grey-stripe-height;
  max-width: @main-width;
  color: #737c8b;
  & > .whyrow {
    margin: 0;
    min-height: 180px;
    max-width: @main-width;
    & > .why {
      display: block;
      min-height: 180px;
      max-width: @main-width;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      > h1 {
        font-size: 36px;
        font-weight: bold;
        margin: 30px 0 0 0;
      }
      > h3 {
        font-family: "Proxima Nova Light";
        font-size: 20px;
        margin: 20px 0 0 0;
      }
    }
  }
}

.optionals {
  margin: 0;
  min-height: 290px;
}

.optional1,
.optional2,
.optional3 {
  padding: 0;
  min-height: 290px;
  & > div {
    min-height: 130px;
    position: relative;
    & > img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  & > p {
    margin: 60px 0 0 0;
    font-family: "Proxima Nova Light";
    font-size: 16px;
    text-align: center;
    padding: 0 17px 0;
    & > span {
      font-weight: 900;
    }
  }
}

.optional2 > div {
  background: @grey-stripe-color; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #ffffff, @grey-stripe-color); /* Safari */
  background: -o-radial-gradient(circle, #ffffff, @grey-stripe-color); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #ffffff, @grey-stripe-color); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #ffffff, @grey-stripe-color); /* Standard syntax */
}

.buttons-row {
  margin: 0;
  min-height: 83px;
  max-width: @main-width;
  & > .centered-button {
    min-height: 83px;
    max-width: @main-width;
    text-align: center;
    padding: 0;
    & > .inbuild-btn {
      margin: 0;
    }
  }
}

//4th line
.fourth-line-backup {
  display: block;
  content: "";
  min-height: 118px;
  background: #ffffff;
}

.forcircles {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  height: 118px;
  max-width: @main-width;
}

.for-circles {
  margin: 0 auto;
  height: 100%;
  max-width: 75%;
  position: relative;
  & > .passive-circles {
    list-style-type: none;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    & > li {
      height: 50px;
      width: 50px;
      & > .circle {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: solid 10px @circled-ul-color;
        border-radius: 50%;
        background: #ffffff;
        position: relative;
        & > div {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: @circled-ul-color;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -8px 0 0 -8px;
        }
      }
    }
    & > li:hover > :after {
      display: block;
      content: "";
      height: 104px;
      width: 104px;
      border: solid 20px @circled-ul-color;
      border-radius: 50%;
      background: white;
      background-image: url("../images/check_pic.png");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -52px 0 0 -52px;
    }
  }
  &:before {
    display: block;
    content: "";
    height: 12px;
    width: 98%;
    position: absolute;
    top: 50%;
    margin: -6px 0 0 2px;
    background: @circled-ul-color;
  }
}

//5th line
.fifth-line {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  min-height: @violet-stripe-height;
  max-width: @main-width;
  color: #ffffff;
  & > .howrow {
    margin: 0;
    min-height: 104px;
    max-width: @main-width;
    & > .how {
      display: block;
      min-height: 104px;
      max-width: @main-width;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      > h1 {
        font-size: 36px;
        font-weight: bold;
        margin: 0;
        line-height: 104px;
      }
    }
  }
  & > .monitor-block {
    display: block;
    margin: 0;
    min-height: 361px;
    max-width: @main-width;
    & > .picture-monitorblock {
      display: block;
      content: "";
      min-height: 361px;
      padding: 0;
      position: relative;
      & > img {
        position: absolute;
        left: 0;
        bottom: -15px;
        max-width: 100%;
        max-height: 100%;
      }
    }
    & > .howsidebutton {
      display: block;
      content: "";
      min-height: 361px;
      padding: 0;
      & > p {
        width: 240px;
        margin: 100px 0 40px 28px;
        text-align: center;
        font-family: "Proxima Nova Light";
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}

//6th line
.sixth-line-backup {
  display: block;
  content: "";
  min-height: 205px;
  background: #ffffff;
}

.sixth-line {
  margin: 0 auto;
  padding: 0;
  display: block;
  content: "";
  min-height: 205px;
  max-width: @main-width;
}

.faqrow {
  margin: 0;
  min-height: 205px;
  max-width: @main-width;
}

.faq1, .faq2, .faq3 {
  min-height: 125px;
  padding: 0 60px 0 0;
  margin-top: 80px;
  color: #737c8b;
  text-align: center;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  & > h5 {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
  & > p {
    margin: 0;
  }
}
#lastfaq {
  padding-right: 0;
}

@media (max-width: 480px) {
  .faq1, .faq2, .faq3 {
    padding: 0;
  }
}