@import "_vars";
@import "_fonts";

.heading {
  min-height: @header-height;
  max-width: 100%;
}

.navglobal {
  min-height: @header-height;
  max-width: 100%;
  margin: 0;
  border: 0;
}

.forheader {
  max-width: @main-width;
  min-height: @header-height;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  & > .navigation-row {
    display: block;
    content: '';
    max-width: 100%;
    min-height: @header-height;
    overflow: visible;
  }
  & > .after {
    display: block;
    content: '';
    clear: both;
  }
}

.navbar-header {
  max-width: @logo-container-width;
  min-height: @header-height;
  padding: 0;
}

.logo-container {
  display: block;
  width: 100%;
  height: @header-height;
  padding: 0;
  margin: 0 !important;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

.logo-img {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0;
  max-width: 100%;
  max-height: 100%;

}

.main-nav {
  padding: 0;
  margin: 0;
  min-height: @header-height;
  width: 66%;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  min-height: @header-height;
  text-align: justify;
  width: 100%;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
  }

  & > li {
    min-height: @header-height;
    display: inline-block;

    &.nav-item-active > a {
      color: @nav-link-active-color;
      border-top: solid 3px @nav-link-active-color;
    }
    & > a {
      display: inline-block;
      min-height: @header-height;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      text-align: right;
      font-size: 20px;
      line-height: 100px;
      border-top: solid 3px transparent;
      color: @nav-link-color !important;
      &:hover {
        color: @nav-link-hover-color !important;
        border-top: solid 3px @nav-link-hover-color;
      }
    }
  }
}

.navbtn-box {
  margin: 0;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  .navbtn {
    margin: 0;
    padding: 0;
    border: solid 1px @nav-link-active-color;
    width: 50px;
    height: 50px;
    & > span {
      width: 100%;
      height: 100%;
      line-height: 50px;
      color: @nav-link-hover-color;
      font-size: 30px;
    }
  }
}
