@grid-float-breakpoint: 770px;
@header-height: 100px;
@main-width: 940px;
@logo-container-width: 250px;
@nav-link-color: #8e3090;
@nav-link-hover-color:lighten(@nav-link-color, 20%);
@nav-link-active-color: darken(@nav-link-color, 5%);