@import "_vars";
@import "_header";
@import "_fonts";
@import "_content";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-family: "Ubuntu Regular", sans-serif;
}
